@import '../../../styles/variables.scss';

.genButton {
    width: 100%;
    background-color: $ctaGreen;
    margin: 1rem 0;
    padding: 1.2rem;
    border: $standardBorder;
    border-radius: $ctaBorderRadius;
    font-weight: bold;
    text-transform: capitalize;
    color: $white;

    &:hover {
        cursor: pointer;
        opacity: .95;;
    }
}

.login {
    background-color: $ctaBlue;
}