@import '../../../styles/variables.scss';

.miniInfoContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 150px;
    text-align: center;
    margin: 0 auto;

    span {
        font-weight: bold;
    }

    img {
        border: 5px solid $black;
        border-radius: 50%;
    }
}

.feedMiniInfoContainer {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;

    span {
        font-weight: bold;
    }

    img {
        border: 5px solid $black;
        border-radius: 50%;
    }
}