@import '../../../styles/variables.scss';

.modalContainer {
    background-color: $modalBackground;
    position: absolute;
    width: 432px;
    padding: 0 1rem 2rem;
    // height: 350px;
    left: 50%;
    top: 40%; 
    margin-left: -150px;
    margin-top: -150px;
    z-index: 3;
    border: 2px solid #000;
    border-radius: 10px;

    svg {
        cursor: pointer;
        width: 2rem;
    }

    h2 {
        margin: 0 auto;
        text-align: center;
    }

    section {
        margin: 1rem auto;
    }

    input, select {
        display: block;
        padding: .25rem;
    }

    div {
        margin: .5rem 1rem;
    }

    .modalHeader {
        margin-top: 1rem;
        display: flex;
    }

    .userInformationContainer {
        display: flex;
        flex-wrap: wrap;
    }
}