@import './variables.scss';

html,
body,
* {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

p, div {
  font-size: 1rem;
}

body {
  background-color: $white;
}

h1 {
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

// default that came with nextJS
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: $white;
    background: black;
  }
}

.homepage-cta-container {
  position: absolute;
  text-align: center;
  background-color: $shadedBackground;
  border-radius: 15px;
  padding: 2rem 10rem 10rem;
  left: 40%;
  top: 40%;
  margin-left: -150px;
  margin-top: -150px;

  p {
    color: #FFF;
    margin: 2rem;
  }
}

// TODO: Might need a new image for specific view types and angles. NextJS might have one to mitigate this but this is CSS property
@media only screen and (max-width: 769px) {
  .homepage-cta-container {
    border-radius: 0;
    padding: 1rem 2rem;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: auto;
    margin-top: auto;
  }
}

.homepage-header {
  color: $white;
  // margin: 3rem 0;
}

.homepage {
  position: relative;
  background-image: url('../public/barbell-wallpaper.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: bottom right;
  height: 45.1rem;
  width: 100%;
}

.homepage-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}