$modalBackground: #FFF;
$navHeaderBackground: #E8E8E8;

// CTA Properties
$ctaBlue: #166FE6;
$ctaBlueHover: #0937EB;

// Status Properties
$postStatusBackground: #F0F2F5;
$selectStatusOutline: rgba(22, 111, 230, .2);

// Border Properties
$borderColor: #707070;
